/* -----------------------------*\
    Add Google Fonts 
/* -----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* -----------------------------------*\
    Start Common Styles Or Utilities 
/* -----------------------------------*/
    * {
        margin: 0;
        padding: 0;
        /* box-sizing: border-box; */
    }
    body {
        font-family: 'Poppins', sans-serif;
        background-color: #fff;
    }
    a {
        text-decoration: none;
    }
    .container {
        width: 100%;
        margin-bottom: 150px;
    }
    .section-title {
        color: indigo;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 40px;
    }

/* ---------------------------------*\
    End Common Styles Or Utilities 
/* ---------------------------------*/

/* -----------------------------------*\
    Start Navbar Menu Styles Section
/* -----------------------------------*/
    #header {
        width: 100%;
        background-color: #2D25A0;
        height: 660px;
    }
    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding-top: 35px;
    }
    .menus ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        
    }
    .menus i {
        display: none;
        font-size: 24px;
        color: #fff;
        font-weight: 600;
    }
    .menus ul li {
        margin-right: 25px;
        padding: 10px;
    }
    .menus li a {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
    }
    .login-btn {
        background-color: #E02C6D;
        color: #fff;
        padding: 5px 20px;
        cursor: pointer;
        font-size: 16px;
        box-shadow: 5px 7px rgba(0,0,0,0.20);
    }
    .login-btn a {
        color: #fff;
    }
    .login-btn i {
        margin-right: 5px; 
    }
/* ---------------------------------*\
    End Navbar Menu Styles Section 
/* ---------------------------------*/

/* -----------------------------------*\
    Start Banner Styles Section
/* -----------------------------------*/
    #banner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 70px;
    }
    .banner-info {
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .banner-heading {
        width: 480px;
        /* height: 220px; */
        color: #fff;
        font-weight: bold;
        font-size: 60px;
        line-height: 65px;
        text-transform: capitalize;
        margin-bottom: 30px;
    }
    .banner-btn {
        background-color: #E02C6D;
        color: #fff;
        padding: 15px 56px 15px 24px;
        cursor: pointer;
        font-size: 16px;
        box-shadow: 8px 8px rgba(0,0,0,0.15);
    }
    .banner-btn i {
        margin-left: 10px; 
    }
    .banner-btn:hover .btn-text {
        transform: scale(1.2);
    }
    .btn-text {
        transition: transform ease-in-out 1s;
    }
    .banner-btn:hover .btn-text i{
        position: relative;
        animation-name: icon-move;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    @keyframes icon-move {
        0%   {color: whitesmoke; left:0px; top:0px;}
        50%  {color:greenyellow; left:30px; top:0px;}
        75%  {color:gold; top:0px; left:0px;}
    }
    .banner-image:hover img {
        transform: scale(1.3);
    }
    .banner-image img {
        transition: transform ease-in-out 1s;
    }
/* ---------------------------------*\
    End Banner Styles Section 
/* ---------------------------------*/

/* ---------------------------------------*\
    Start Top Most Players Styles Section
/* ---------------------------------------*/
    #main {
        margin-top: 70px;
    }
    .players {
        /* max-width: 1050px; */
        max-width: 78%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 27px 30px;
        margin: 0 auto 50px;
    }
    .player {
        max-width: 330px;
        max-height: 475px;
        padding: 15px;
        background-color: #fff;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }
    .player-thumbnail {
        max-width: 300px;
        max-height: 256px;
        margin-bottom: 16px;
    }
    .player-name h3 a {
        color: #18191F;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .player-detail {
        color: #6C6C6C;
        text-align: justify;
        font-weight: 400;
        margin-bottom: 20px;
    }
    a.load-more-btn {
        width: 9%;
        display: flex;
        margin: 0 auto;
        background-color: #E02C6D;
        color: #fff;
        padding: 15px 30px;
        cursor: pointer;
        font-size: 16px;
        box-shadow: 8px 8px rgba(0,0,0,0.15);
        
    }
    .load-more-btn i {
        margin-left: 15px; 
    }
    .load-more-btn:hover .btn-text {
        transform: scale(1.2);
    }
    .btn-text {
        transition: transform ease-in-out 1s;
    }
    .load-more-btn:hover .btn-text i{
        position: relative;
        animation-name: icon-down;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
    }
    @keyframes icon-down {
        0%   {color: whitesmoke; left:0px; top:0px;}
        50%  {color:greenyellow; top:10px; bottom:0px;}
        75%  {color:gold; bottom:0px; top:0px;}
    }
/* ---------------------------------------*\
    End Top Most Players Styles Section
/* ---------------------------------------*/

/* ------------------------------------------*\
    Start Breaking News Tube Styles Section
/* ------------------------------------------*/
    .break-news-tubes {
        max-width: 78%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .break-news-tubes > h2 {
        width: 30%;
        border-bottom: 2px solid #E02C6D;
    }
    .tube-galleries {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 27px 30px;
    }
    .tube-gallery {
        position: relative;
        overflow: hidden;
    }
    .gallery {
        overflow: hidden;
        transition: transform 2s ease-in-out;
    }
    .tube-social-icon i {
        position: absolute;
        font-size: 50px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
    }
    .tube-gallery:hover .tube-social-icon i {
        display: block;
        top: 0;
        right: 5px;
        bottom: 0;
        left: 0;
        padding: 56% 36%;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
    .tube-gallery:hover .gallery {
        transform: scale(1.1);
    }
/* ---------------------------------------*\
    End Breaking News Tube Styles Section
/* ---------------------------------------*/

/* ------------------------------------------*\
    Start Get In Touch Styles Section
/* ------------------------------------------*/
    .get-in-touch {
        background-image: url(../images/get-in-touch-1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .get-in-touch h2 {
        width: 20%;
        font-size: 40px;
        margin: 30px auto 0;
        border-bottom: 2px solid #E02C6D;
    }
    .subscribe-form {
        margin: 6% auto 15%;
        color: indigo;
        font-size: 18px;
    }
    .subscribe-form input[type=email] {
        width: 100%;
        padding: 15px;
        outline: none;
        outline-style: none;
        border: none;
        border: 1px solid #ccc;
    }
    .subscribe-form a {
        background-image: linear-gradient(to right, #61b4f8, #E02C6D);
        padding: 10px 40px;
        border: none;
        border-radius: 30px;
        display: inline-block;
        margin: 15px auto 0;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        cursor: pointer;
    }
/* ---------------------------------------*\
    End Get In Touch Styles Section
/* ---------------------------------------*/

/* ---------------------------------------*\
    Start Footer Styles Section
/* ---------------------------------------*/
    #footer {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        padding: 10px;
        text-align: center;
    }
    .footer-content > a > img {
        background: transparent;
        text-decoration: none;
        margin-bottom: 20px;
    }
    .footer-content p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .footer-content p i {
        color: #969BAB;
        margin-right: 15px;
        background-color: #dde2f8;
        padding: 15px;
        border-radius: 50%;
    }
    .footer-content h5 {
        color: #000;
        font-size: 18px;
        font-weight: 400;
        margin-top: 5px;
        text-transform: capitalize;
    }
/* ---------------------------------------*\
    End Footer Styles Section
/* ---------------------------------------*/

/* ---------------------------------------*\
    Start Media Query Styles Section
/* ---------------------------------------*/

    /* ---------------------------------------*\
            Start Mobile Device Styles Section
    /* ---------------------------------------*/
        /* Navbar Menu with Banner Section */
        @media only screen and (max-width: 688px) {
            #header {
                height: 850px;
            }
            .navbar {
                flex-direction: row;
                justify-content: space-between;
                align-items: baseline;
                margin: 0 15px;
            }
            .menus ul {
                display: none;
            }
            .menus i {
                display: block;
            }
            .menus i ul {
                display: none;
            }
            .menus i:hover ul {
                display: block;
                background-color: #ccc;
            }
            .banner-heading {
                width: 445px;
            }
            .banner-image img {
                margin-top: 50px;
                width: 94%;
                padding: 17px;
            }

            /* Main Section */
            #main {
                margin-top: 50px;
            }
            /* Top Most Players Section */
            .players {
                grid-template-columns: repeat(1, 1fr);
            }
            a.load-more-btn {
                width: 30%;
            }
            /* Breaking News Tube Section */
            .break-news-tubes > h2 {
                width: 100%;
            }
            .break-news-tubes {
                max-width: 55%;
            }
            .tube-galleries {
                grid-template-columns: repeat(1, 1fr);
            }
            /* Get In Touch or Subscribe Section */
            .get-in-touch h2 {
                width: 65%;
                margin: 10px auto 0;
                font-size: 35px;
            }
            .subscribe-form {
                margin: 0;
                padding: 25px;
            }
            .subscribe-form input[type=email] {
                width: 80%;
                padding: 10px;
            }
            .subscribe-form a {
                background-image: linear-gradient(to right, #61b4f8, #E02C6D);
                padding: 8px 20px;
                border: none;
                border-radius: 20px;
            }
            /* Footer Section */
            .footer-content > a > img {
                width: 100%;
            }
            .footer-content p {
                font-size: 15px;
            }
        }
    /* ---------------------------------------*\
            End Mobile Device Styles Section
    /* ---------------------------------------*/

    /* ---------------------------------------*\
        Start Tablet Device Styles Section
    /* ---------------------------------------*/
        /* Navbar Menu with Banner Section */
        @media only screen and (min-width: 688px) and (max-width: 992px)  {
            #header {
                height: 1050px;
            }
            .navbar {
                padding-top: 30px;
            }
            .menus ul li {
                margin-right: 15px;
                padding: 8px;
            }
            .banner-info {
                margin-left: 0px;
            }
            .banner-heading {
                font-size: 50px;
            }
            .banner-image img {
                margin-top: 60px;
                width: 98%;
                padding: 15px;
            }
        /* Main Section */
            /* Top Most Players Section */
            .players {
                max-width: 90%;
                grid-template-columns: repeat(2, 1fr);
                margin: 0 auto 80px;
            }
            a.load-more-btn {
                width: 20%;
            }
            /* Breaking News Tube Section */
            .break-news-tubes > h2 {
                width: 54%;
            }
            .tube-galleries {
                grid-template-columns: repeat(2, 1fr);
            }
            /* Get In Touch or Subscribe Section */
            .get-in-touch h2 {
                width: 35%;
            }
    }

    /* ---------------------------------------*\
        Start Tablet Device Styles Section
    /* ---------------------------------------*/

/* ---------------------------------------*\
    End Media Query Styles Section
/* ---------------------------------------*/

