/* -----------------------------*\
        Google Fonts 
/* -----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
/* -----------------------------*\
    Common Styles Or Utilities 
/* -----------------------------*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}